&uart1 {
    status = "okay";
    current-speed = <115200>;
};

&pinctrl {
	i2c0_pullup: i2c0_pullup {
		group1 {
			pinmux = <I2C0_SDA_P4>, <I2C0_SCL_P5>;
			input-enable;
			input-schmitt-enable;
			bias-pull-up;
		};
	};
};