#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/pinctrl/rpi-pico-rp2350a-pinctrl.h>

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    mpu6050: mpu6050@68 {
        compatible = "invensense,mpu6050-custom";
        reg = <0x68>;
        status = "okay";
        accel-range = <0>; /* 0=2g, 1=4g, 2=8g, 3=16g */
        gyro-range = <0>;  /* 0=250dps, 1=500dps, 2=1000dps, 3=2000dps */
    };
};

&i2c1 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    ltr303: ltr303@29 {
        compatible = "ltr,ltr303";
        reg = <0x29>;
        status = "okay";
    };
};

&pinctrl {
    ws2812_pio0_default: ws2812_pio0_default {
        group1 {
            pinmux = <PIO0_P28>;
        };
    };
};

&pio0 {
    status = "okay";

    pio_ws2812: pio-ws2812 {
        compatible = "worldsemi,ws2812-rpi_pico-pio";
        status = "okay";
        pinctrl-0 = <&ws2812_pio0_default>;
        pinctrl-names = "default";
        bit-waveform = <3>, <3>, <4>;

        rgb_led: ws2812 {
            status = "okay";
            gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
            chain-length = <1>;
            color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
            frequency = <800000>;
            reset-delay = <280>;
        };
    };
};

&adc {
    label  = "ADC_0";
    status = "okay";
    #address-cells = <1>;
    #size-cells    = <0>;

    channel@0 {
        reg             = <0>;
        zephyr,gain     = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
        zephyr,input-positive = <0>;
    };
};

/ {
    chosen {
        zephyr,led-strip = &rgb_led;
    };

    aliases {
        mpu6050 = &mpu6050;
        led-strip = &rgb_led;
        buzzer = &buzzer0;
    };

    buzzer0: buzzer_0 {
        compatible = "custom,gpio-buzzer";
        status = "okay";
        gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
    };

        my_ss49e: ss49e_sensor {
        compatible = "zephyr,ss49e-sensor";
        status = "okay";
        io-channels = <&adc 0>;
        label = "SS49E_SENSOR";
    };
};
