#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/display/panel.h>
#include <zephyr/dt-bindings/pinctrl/rpi-pico-rp2350a-pinctrl.h>

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    mpu6050: mpu6050@68 {
        compatible = "invensense,mpu6050-custom";
        reg = <0x68>;
        status = "okay";
        accel-range = <0>; /* 0=2g, 1=4g, 2=8g, 3=16g */
        gyro-range = <0>;  /* 0=250dps, 1=500dps, 2=1000dps, 3=2000dps */
    };
};

&pinctrl {
    ws2812_pio0_default: ws2812_pio0_default {
        group1 {
            pinmux = <PIO0_P28>;
        };
    };
};

&pio0 {
    status = "okay";

    pio_ws2812: pio-ws2812 {
        compatible = "worldsemi,ws2812-rpi_pico-pio";
        status = "okay";
        pinctrl-0 = <&ws2812_pio0_default>;
        pinctrl-names = "default";
        bit-waveform = <3>, <3>, <4>;

        rgb_led: ws2812 {
            status = "okay";
            gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
            chain-length = <1>;
            color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
            frequency = <800000>;
            reset-delay = <280>;
        };
    };
};

/ {
    chosen {
        zephyr,led-strip = &rgb_led;
    };

    aliases {
        mpu6050 = &mpu6050;
        led-strip = &rgb_led;
        buzzer = &buzzer0;
        display-bl = &gc9a01_bl;
    };

    buzzer0: buzzer_0 {
        compatible = "custom,gpio-buzzer";
        status = "okay";
        gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
    };

    lcd_backlight {
        compatible = "gpio-leds";
        gc9a01_bl: gc9a01_bl {
            gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
            label = "GC9A01 Backlight";
        };
    };
};

/* GC9A01 / GC9X01X round TFT on SPI1. Uses GPIOs after GP8.
 * Wiring used here:
 * SCL/SCK -> GP10, SDA/MOSI -> GP11, CS -> GP12, DC -> GP13, RST -> GP14, BL -> GP15
 */
&pinctrl {
    spi1_default: spi1_default {
        group1 {
            pinmux = <SPI1_SCK_P10>, <SPI1_TX_P11>;
        };
    };
};

&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-names = "default";
    cs-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
};

/ {
    gc9a01_dbi: gc9a01_dbi {
        compatible = "zephyr,mipi-dbi-spi";
        status = "okay";
        #address-cells = <1>;
        #size-cells = <0>;
        spi-dev = <&spi1>;
        dc-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;

        gc9a01: gc9a01@0 {
            compatible = "galaxycore,gc9x01x";
            status = "okay";
            reg = <0>;
            width = <240>;
            height = <240>;
            pixel-format = <PANEL_PIXEL_FORMAT_RGB_565>;
            mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
            mipi-max-frequency = <24000000>;
            display-inversion;
        };
    };
};
